apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-ml-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/vlamay/aws-eks-gitops-argo.git
    targetRevision: HEAD
    path: kubernetes/applications/demo-ml-app
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
